

<div class="max-w-3xl mx-auto bg-white shadow-md rounded-lg p-6">
  <h1 class="text-2xl font-bold mb-4">Lista de Productos en Tiempo Real</h1>
  <ul id="products">

  </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>